.form {
    display: flex;
    justify-content: space-between;
  }
  
  .form input {
    font:inherit;
    padding: 0.25rem;
    border: none;
    border-bottom: 3px solid #ccc;
    flex: 1;
    margin-right: 2rem;
  }
  
  .form input:focus {
    outline: none;
    border-color: #060606;
  }
  .addBtn{
    cursor: pointer;
    font: inherit;
    background-color: #060606;
    border: 1px solid #060606;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    color: white;
  }